<launch>
  <node name="serial_stream_node" pkg="serial_stream" type="serial_stream_node">
    <param name="serial_port" value="/dev/serial/by-id/usb-Teensyduino_USB_Serial_9076360-if00"/>
    <param name="baud_rate" value="115200"/>
    <param name="data0_format" value="x: %lf"/>
    <param name="data1_format" value="z: %lf"/>
    <remap from="~data0" to="force_x"/>
    <remap from="~data1" to="force_z"/>
  </node>
</launch>
