<launch>
  <node name="serial_stream_node" pkg="serial_stream" type="serial_stream_node" output="screen">
    <param name="serial_port" value="/dev/ttyACM0"/>
    <param name="baud_rate" value="115200"/>
    <param name="data_count" value="3"/>
    <param name="data0_format" value="time: %lf"/>
    <param name="data1_format" value="volt: %lf"/>
    <param name="data2_format" value="temp: %lf"/>
    <remap from="~data0" to="time"/>
    <remap from="~data1" to="voltage"/>
    <remap from="~data2" to="temperature"/>
  </node>
</launch>